<br>
<%= form_for @original_sentence, method: :patch do |s| %>

<!-- リダイレクト先flg -->
<!-- 		<%= s.hidden_field :redirect_id ,value: @redirect_id %>
	<%= s.hidden_field :redirect_type ,value: @redirect_type %> -->

	<%= s.hidden_field :fold_id ,value: @original_sentence.fold_id %>

	<div class="s-c-s">
		<%= s.text_area :ja, placeholder: "日本語文", class: "s-c-ja", :required => true %>
		<%= s.text_area :ch, placeholder: "中国語文", id: "", class: "s-c-ch", :required => true %>
	</div>
<!-- <div id="auto-words" class="">
		<button type="button" class="btn btn-default">
			中国語の単語を抜き出す
	</button>
	<br><br>
	</div> -->


<!-- 単語フォーム -->
	<div class="form-group">
    <%= s.fields_for :words do |w| %>
	    <ul class="w-c">
	    	<li>
	        <%= w.text_field :ja ,placeholder: "単語(日)", class: "w-c-ja" %>
	        <%= w.text_field :ch ,placeholder: "単語(中)", class: "w-c-ch"%>
	  		</li>
	  	</ul>
  	<% end %>
	<ul class="w-c">
	    <li>
			<input type="text" name="new_words[][ja]" class="w-c-ja" placeholder="単語(日)">
			<input type="text" name="new_words[][ch]" class="w-c-ch" placeholder="単語(中)">
		</li>
	    <li>
			<input type="text" name="new_words[][ja]" class="w-c-ja" placeholder="単語(日)">
			<input type="text" name="new_words[][ch]" class="w-c-ch" placeholder="単語(中)">
		</li>
		<li>
			<input type="text" name="new_words[][ja]" class="w-c-ja" placeholder="単語(日)">
			<input type="text" name="new_words[][ch]" class="w-c-ch" placeholder="単語(中)">
		</li>
		<li>
			<input type="text" name="new_words[][ja]" class="w-c-ja" placeholder="単語(日)">
			<input type="text" name="new_words[][ch]" class="w-c-ch" placeholder="単語(中)">
		</li>
		<li>
			<input type="text" name="new_words[][ja]" class="w-c-ja" placeholder="単語(日)">
			<input type="text" name="new_words[][ch]" class="w-c-ch" placeholder="単語(中)">
		</li>
		<li>
			<input type="text" name="new_words[][ja]" class="w-c-ja" placeholder="単語(日)">
			<input type="text" name="new_words[][ch]" class="w-c-ch" placeholder="単語(中)">
		</li>
		<li>
			<input type="text" name="new_words[][ja]" class="w-c-ja" placeholder="単語(日)">
			<input type="text" name="new_words[][ch]" class="w-c-ch" placeholder="単語(中)">
		</li>
		<li>
			<input type="text" name="new_words[][ja]" class="w-c-ja" placeholder="単語(日)">
			<input type="text" name="new_words[][ch]" class="w-c-ch" placeholder="単語(中)">
		</li>
		<li>
			<input type="text" name="new_words[][ja]" class="w-c-ja" placeholder="単語(日)">
			<input type="text" name="new_words[][ch]" class="w-c-ch" placeholder="単語(中)">
		</li>
		<li>
			<input type="text" name="new_words[][ja]" class="w-c-ja" placeholder="単語(日)">
			<input type="text" name="new_words[][ch]" class="w-c-ch" placeholder="単語(中)">
		</li>
	</ul>

<%= s.submit "更新", class: "", id: "sentence-create-button" %>
<% end %>


<hr>


<%= link_to "この文章を削除する", (@original_sentence), method: :delete %>