<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8" >
			<%= render :partial => 'sentences/sentences', :locals=>{ sentences: @sentences, myfolds: @myfolds} %>
		</div>
	</div>
</div>

<!-- ########フッタ########## -->
<footer id="index-footer-navi">
	<div class="footer-left clearfix">
		<div class="myfolds">
			<% if user_signed_in? %>
				<a data-placement="top" class='pop_folds' data-placement='above' title="フォルダを選択" href='#'>
					<%= render :partial => 'svg/folds' %>
				</a>
				<div id="pop_folds_wrapper" style="display: none">
					<div id="folds_list">
						<%= render :partial => 'folds/folds_list', :locals=>{myfolds: @myfolds} %>
					</div>
					<div class="create-fold">
						<%= form_for @fold, url: folds_path, method: :post, remote: true do |f| %>
							<%= f.text_field :name, placeholder: "新しいフォルダ", class: "", :required => true %>
							<%= button_tag( class: "no-css") do %>
								<%= render :partial => 'svg/plus' %>
							<% end %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="search">
			<%= render :partial => 'svg/search' %>
		</div>
		<div class="search-input">
			<input name="keyword" placeholder="" type="text" value=""></input>
		</div>
	</div>
	<div class="footer-right clearfix">
		<div class="replace">
			<%= render :partial => 'svg/replace' %>
		</div>
		<div class="to-sentence-form">
			<%= render :partial => 'svg/pen' %>
		</div>
	</div>
</footer>


<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>