<% if user_signed_in? %>
  <% if sentence.like_user(current_user.id) %>
    <%= link_to sentence_like_path(sentence_id: sentence.id, id:like.id ), id: "unlike-button",method: :delete, remote: true do %>
        <%= render :partial => 'svg/like' %>
      <span>
        <%= sentence.likes_count %>
      </span>
    <% end %>
  <% else %>
    <%= link_to sentence_likes_path(sentence.id), id: "like-button", method: :post, remote: true do %>
      <%= render :partial => 'svg/not_like' %>
      <span>
        <%= sentence.likes_count %>
      </span>
    <% end %>
  <% end %>
<% end %>