<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8" >

    <!-- ########  ユーザープロフィール ########-->
      <div class="profile">
        <div class="row">
          <div class="profile-left col-xs-3 col-sm-3 col-md-3">
            <div class="p-img">
              <% if @user.image? %>
                <%= image_tag @user.image.url, :alt => "icon", :class=>"p-icon" %>
              <% else %>
                <img alt="no-icon" src="/images/no-icon.png" class="p-icon">
              <% end %>
            </div>
            <div class="p-name">
              <%= @user.name %>
              <% if user_signed_in? && current_user.id == @user.id %>
                <p class="p-edit"><%= link_to edit_user_registration_path(current_user) do %>編集<% end %></p>
              <% end %>
            </div>
          </div>
          <div class="profile-middle  col-xs-9 col-sm-9 col-md-9">
            <div class="p-intro clearfix">
              <div class="p-intro-svg">
                <%= render :partial => 'svg/chat' %>
              </div>
              <div class="p-intro-msg">
                <%= simple_format(@user.introduction) %>
              </div>
            </div>
            <div class="p-blog clearfix">
              <div class="p-blog-svg">
                <%= render :partial => 'svg/pc' %>
              </div>
              <div class="p-blog-msg">
                <a href="<%= @user.blog %>" target="_blank"><%= @user.blog %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render :partial => 'sentences/sentences', :locals=>{ sentences: @sentences, myfolds: @myfolds} %>
    </div>
  </div>
</div>

<!-- ########フッタ########## -->
<footer id="index-footer-navi">
  <div class="footer-left clearfix">
    <div class="myfolds">
      <%= render :partial => 'svg/folds' %>
    </div>
    <div class="search">
      <%= render :partial => 'svg/search' %>
    </div>
    <div class="search-input">
      <input name="keyword" placeholder="" type="text" value=""></input>
    </div>
  </div>
  <div class="footer-right clearfix">
    <div class="replace">
      <%= render :partial => 'svg/replace' %>
    </div>
    <div class="to-sentence-form">
      <%= render :partial => 'svg/pen' %>
    </div>
  </div>
</footer>