<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8" >

    <!-- ########  ユーザープロフィール ########-->
      <div class="profile">
        <div class="row">
          <div class="profile-left col-xs-3 col-sm-3 col-md-3">
            <div class="p-img">
              <% if @user.image? %>
                <%= image_tag @user.image.url, :alt => "icon", :class=>"p-icon" %>
              <% else %>
                <img alt="no-icon" src="/images/no-icon.png" class="p-icon">
              <% end %>
            </div>
            <div class="p-name">
              <%= @user.name %>
              <% if user_signed_in? && current_user.id == @user.id %>
                <p class="p-edit"><%= link_to edit_user_registration_path(current_user) do %>編集<% end %></p>
              <% end %>
            </div>
          </div>
          <div class="profile-middle  col-xs-9 col-sm-9 col-md-9">
            <div class="p-intro clearfix">
              <div class="p-intro-svg">
                <%= render :partial => 'svg/chat' %>
              </div>
              <div class="p-intro-msg">
                <%= simple_format(@user.introduction) %>
              </div>
            </div>
            <div class="p-blog clearfix">
              <div class="p-blog-svg">
                <%= render :partial => 'svg/pc' %>
              </div>
              <div class="p-blog-msg">
                <a href="<%= @user.blog %>" target="_blank"><%= @user.blog %></a>
              </div>
            </div>
          </div>
        </div>
      </div>


    <!-- ########  フォルダ一覧 ########-->
      <div class="profile">
        <div class="row">
          <% @folds.each do |fold| %>
            <div class="folds-list">
              <% if current_page?(fold)  %>
                <%= render :partial => 'svg/fold_open' %>
                <%= fold.name %>
              <% else %>
                <a href="/folds/<%= fold.id %>">
                <%= render :partial => 'svg/fold' %>
                <%= fold.name %>
                </a>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>


      <!-- 文章一覧 -->
      <div id="sentneces-wrapper-for-fold-add">
        <%= render :partial => 'sentences/sentences', :locals=>{ sentences: @sentences, myfolds: @myfolds} %>
      </div>
    </div>
  </div>
</div>

<!-- ######## フッター ########## -->
<footer class="footer-navi">
  <div class="footer-left clearfix">

    <!-- ######## フォルダ ########## -->
    <div class="myfolds">
      <% if user_signed_in? %>
        <a data-placement="top" class='pop_folds' data-placement='above' title="フォルダを選択" href='#'>
          <%= render :partial => 'svg/folds' %>
        </a>
        <div id="pop_folds_wrapper" style="display: none">
          <div id="folds_list">
            <%= render :partial => 'folds/folds_list', :locals=>{myfolds: @myfolds} %>
          </div>
          <div class="create-fold">
            <%= form_for @fold, url: folds_path, method: :post, remote: true do |f| %>
              <%= f.text_field :name, placeholder: "新しいフォルダ", class: "", :required => true %>
              <%= button_tag( class: "no-css zero-space") do %>
                <%= render :partial => 'svg/plus' %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>


    <!-- ######## 検索 ########## -->
 <!--    <div class="search">
      <%= render :partial => 'svg/search' %>
    </div>
    <div class="search-input">
      <input name="keyword" placeholder="" type="text" value=""></input>
    </div> -->
  </div>


  <div class="footer-right clearfix">
    <!-- ######## 日中入れ替え ########## -->
<!--     <div class="replace">
      <%= render :partial => 'svg/replace' %>
    </div> -->

    <!-- ######## 文章作成ボタン ########## -->
    <div class="to-sentence-form">
      <% if user_signed_in? %>
      <!-- Button to Open the Modal -->
        <button type="button" class="no-css" data-toggle="modal" data-target="#sentence-create-modal">
          <%= render :partial => 'svg/pen' %>
        </button>
      <% end %>
    </div>
  </div>
</footer>


<!-- ######## 文章作成モーダル ########## -->
<% if user_signed_in? %>
  <div class="modal fade" id="sentence-create-modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">新しい文章を追加する</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" id="sentence_form">
          <%= render :partial => 'sentences/sentence_form', :locals=>{sentence: @sentence, myfolds: @myfolds} %>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>
<% end %>