<div id="foldsentence-cards">
<% sentences.each do |sentence| %>
	<!-- Wide card with share menu button -->
	<div class="mdl-card mdl-shadow--2dp">
		<div class="upper-card clearfix">
		</div>
		<div class="lower-card">
			<div class="s-ja" ontouchstart="">
				<%= sentence.ja %>
			</div>
			<div class="s-ch" ontouchstart="">
				<%= sentence.ch %>
			</div>
			<div class="s-pin" ontouchstart="">
				<%= sentence.pin %>
			</div>
			<dl id="panel">
				<dt class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">単語を見る</dt>
				<dd style="margin:0;">
					<table class="s-table">
						<thead>
							<tr><th>日本語</th><th>中国語</th><th>ピンイン</th></tr>
						</thead>
						<tbody>
							<% sentence.words.each do |word| %>
								<tr>
									<td><%= word.ja %></td><td><%= word.ch %></td><td><%= word.pin %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</dd>
			</dl>
		</div>
		<div class="mdl-card__menu">
			<% if user_signed_in? && sentence.user_id == current_user.id %>
				<div id="memorized-buttons-<%= sentence.id %>" class="btnplace">
					<%= link_to memorized_sentences_path(sentence_id: sentence.id), id: "memorized-button",method: :patch, remote: true do %>
						覚えた
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
<% end %>
</div>
