<ul class="w-c">
  <li>
    <%= s.fields_for :words do |w| %>
        <%= w.text_field :ja ,placeholder: "日本語", class: "w-c-ja" %>
        <%= w.text_field :ch ,placeholder: "中国語", class: "w-c-ch" %>
    <% end %>
  </li>
  <li>
    <%= s.fields_for :words do |w| %>
        <%= w.text_field :ja ,placeholder: "日本語", class: "w-c-ja" %>
        <%= w.text_field :ch ,placeholder: "中国語", class: "w-c-ch" %>
    <% end %>
  </li>
  <li>
    <%= s.fields_for :words do |w| %>
        <%= w.text_field :ja ,placeholder: "日本語", class: "w-c-ja" %>
        <%= w.text_field :ch ,placeholder: "中国語", class: "w-c-ch" %>
    <% end %>
  </li>
  <li>
    <%= s.fields_for :words do |w| %>
        <%= w.text_field :ja ,placeholder: "日本語", class: "w-c-ja" %>
        <%= w.text_field :ch ,placeholder: "中国語", class: "w-c-ch" %>
    <% end %>
  </li>
  <li>
    <%= s.fields_for :words do |w| %>
        <%= w.text_field :ja ,placeholder: "日本語", class: "w-c-ja" %>
        <%= w.text_field :ch ,placeholder: "中国語", class: "w-c-ch" %>
    <% end %>
  </li>
  <li>
    <%= s.fields_for :words do |w| %>
        <%= w.text_field :ja ,placeholder: "日本語", class: "w-c-ja" %>
        <%= w.text_field :ch ,placeholder: "中国語", class: "w-c-ch" %>
    <% end %>
  </li>
  <li>
    <%= s.fields_for :words do |w| %>
        <%= w.text_field :ja ,placeholder: "日本語", class: "w-c-ja" %>
        <%= w.text_field :ch ,placeholder: "中国語", class: "w-c-ch" %>
    <% end %>
  </li>
  <li>
    <%= s.fields_for :words do |w| %>
        <%= w.text_field :ja ,placeholder: "日本語", class: "w-c-ja" %>
        <%= w.text_field :ch ,placeholder: "中国語", class: "w-c-ch" %>
    <% end %>
  </li>
  <li>
    <%= s.fields_for :words do |w| %>
        <%= w.text_field :ja ,placeholder: "日本語", class: "w-c-ja" %>
        <%= w.text_field :ch ,placeholder: "中国語", class: "w-c-ch" %>
    <% end %>
  </li>
  <li>
    <%= s.fields_for :words do |w| %>
        <%= w.text_field :ja ,placeholder: "日本語", class: "w-c-ja" %>
        <%= w.text_field :ch ,placeholder: "中国語", class: "w-c-ch" %>
    <% end %>
  </li>
</ul>