<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8" >

      <%= render :partial => 'folds/fold_sentences', :locals=>{ sentences: @foldsentences, myfolds: @myfolds} %>
    </div>
  </div>
</div>

<!-- ########フッタ########## -->
<footer id="index-footer-navi">
  <div class="footer-left clearfix">
    <div class="myfolds">
      <% if user_signed_in? %>
        <a data-placement="top" class='pop_folds' data-placement='above' title="フォルダを選択" href='#'>
          <%= render :partial => 'svg/folds' %>
        </a>
        <div id="pop_folds_wrapper" style="display: none">
          <div id="folds_list">
            <%= render :partial => 'folds/folds_list', :locals=>{myfolds: @myfolds} %>
          </div>
          <div class="create-fold">
            <%= form_for @fold, url: folds_path, method: :post, remote: true do |f| %>
              <%= f.text_field :name, placeholder: "新しいフォルダ", class: "", :required => true %>
              <%= button_tag( class: "no-css") do %>
                <%= render :partial => 'svg/plus' %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="search">
      <%= render :partial => 'svg/search' %>
    </div>
    <div class="search-input">
      <input name="keyword" placeholder="" type="text" value=""></input>
    </div>
  </div>
  <div class="footer-right clearfix">
    <div class="replace">
      <%= render :partial => 'svg/replace' %>
    </div>
    <div class="to-sentence-form">
      <%= render :partial => 'svg/pen' %>
    </div>
  </div>
</footer>






<div class="mdl-grid">
	<!-- #######  スペイサー  ######## -->
	<div class="space mdl-cell mdl-cell--1-col"></div>




<!-- #######  indexメニュー  ######## -->
	<div class="mdl-cell mdl-cell--2-col mdl-cell--6-col-tablet mdl-cell--12-col-phone"">
		<%= render :partial => 'users/user_menu', :locals=>{ user: @user, fold: @fold, folds: @myfolds} %>
	</div>



<!-- #######  index_contents  ######## -->
	<div class="blue mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--12-col-phone">

		<!-- 新しい文 -->
		<div class="s-new mdl-card mdl-shadow--2dp">
			<div class="s-create">
				<%= form_for (@sentence) do |s| %>
					<div class="s-c-explanation">新しい文を作成する</div>
					<%= s.hidden_field :fold_id ,value: @fold_id %>
					<div class="s-c-s">
						<%= s.text_area :ja, placeholder: "日本語文を書く", class: "s-c-ja", :required => true %>
						<%= s.text_area :ch, placeholder: "中国語文を書く", id: "chsentence", class: "s-c-ch", :required => true %>
					</div>
					<div id="auto-words" class="mdl-button mdl-js-button mdl-js-ripple-effect">
						中国語の単語を抜き出す
					</div>
					<%= render :partial => "folds/words_form", :locals=>{:s=>s} %>
					<dl id="panel">
						<dt class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">もっと単語</dt>
							<dd style="margin:0;">
								<%= render :partial => "folds/words_form", :locals=>{:s=>s} %>
								<%= render :partial => "folds/words_form", :locals=>{:s=>s} %>
								<%= render :partial => "folds/words_form", :locals=>{:s=>s} %>
								<%= render :partial => "folds/words_form", :locals=>{:s=>s} %>
							</dd>
						</dl>
					<%= s.submit "作成", class: "s-c-button b-primary mdl-button mdl-js-button" %>
			  <% end %>
			</div>
		</div>

		<div>
			<%= link_to show_all_sentences_path(fold: @current_fold), id: "show-all-sentences-button",method: :patch do %>
				文章を全て表示する
			<% end %>
		</div>



		<!-- ########  文章 ########-->
		<%= render :partial => 'folds/fold_sentences', :locals=>{ sentences: @foldsentences} %>


<!-- #######  スペイサー  ######## -->
	<div class="space mdl-cell mdl-cell--1-col"></div>