<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- For SEO -->
		<meta name="keywords" content="中国語学習, 中国語会話, 瞬間作文">
		<meta name="description" content="中国語の勉強をしたいなら、ここ、BENTO Chines。中国語を話せるようになりたいなら、瞬間作文トレーニング。瞬間作文のための文章は、SNS感覚で、みんなと共有します。">


		<!-- For title -->
		<title>BENTO Chinese || 瞬間作文ができる中国語学習サイト</title>
		<!-- <link rel="icon" type="image/png" href="<#%= asset_path "logo_transparent.png" %>"> -->


		<!-- preset -->
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag 'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
	</head>

	<body>

<!-- ######## ナビバー ########## -->
		<header id="global-navi">
			<div class="container">
				<div class="mypage">
						<% if user_signed_in? %>
							<% if current_user.image? %>
								<%= link_to user_path(current_user) do %>
									<%= image_tag current_user.image.thumb.url, :class => "icon", :alt => "icon" %>
								<% end %>
							<% else %>
								<%= link_to user_path(current_user) do %>
									<%= image_tag "/images/no-icon.png", :class => "icon", :alt => "icon" %>
								<% end %>
							<% end %>
							<p><%= link_to current_user.name, user_path(current_user) %></p>
						<% else %>
							<a href="/" class=""><img alt="BENTO Chinese" src="/images/logo.png" class="logo-center"></a>
							<h1>BENTO Chinese</h1>
						<% end %>
				</div>
			</div>
			<div class="logo">
				<% if user_signed_in? %>
					<a href="/" class=""><img alt="BENTO Chinese" src="/images/logo.png" class="nav-logo-img"></a>
					<h1>BENTO Chinese</h1>
				<% end %>
			</div>

			<div class="menu">
				<div class="log-inout">
					<% if user_signed_in? %>
						<%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'log-out' %>
					<% else %>
						<%= link_to "新規登録", new_user_registration_path, class: 'sign-up' %>/
						<%= link_to "ログイン", new_user_session_path, class: 'log-in' %>
					<% end %>
				</div>
				<div class="about">
					<a href="/abouts">使い方</a>
				</div>
			</div>
		</header>



<!-- ########contents+footer########## -->
		<div id="contents">
			<%= yield %>
		</div>


<!-- ########スマホのアドレスバーを消す########## -->
		<script type="text/javascript">setTimeout(function(){ window.scrollTo(0,1); } , 500);</script>
  </body>
</html>
